<div class="eric__post-container">
  <p class="post_detail">
    <strong>User:</strong>
    <%= @post.user %>
  </p>
  
  <p class="post_detail">
    <strong>Time:</strong>
    <%= @post.created_at %> 
  </p>
  
  <div class="content_post"><strong><h2><%= @post.title %></h2></strong><%= @post.content.html_safe %></div>


  <h2>Comments</h2>
  <% @post.comments.each do |comment| %>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>
   
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
  <% end %> 



  <h2>Add a comment:</h2>
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
      <%= f.label :commenter %><br>
      <%= f.text_field :commenter %>
    </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

  
  <% if current_user && @post.user == current_user %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
  <% end %>
  <%= link_to 'Back', posts_path %>

</div>
